@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background: #0c0c14;
  color: #fff;
  -webkit-app-region: no-drag;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

.app {
  background: linear-gradient(216deg, rgba(108, 194, 74, 1) 0%, rgba(0, 214, 214, 1) 100%);
}