.container {
    background: #0f1120db;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container.show {
    opacity: 1;
    visibility: visible;
}

.center {
    background: white;
    width: 500px;
    border-radius: 5px;
    color: #101220;
    font-family: system-ui;
    user-select: none;
}

.center .padding {

    padding: 20px;
    position: relative;
}

.close {
    position: absolute;
    right: 14px;
    width: 25px;
    height: 25px;
    top: 13px;
    opacity: .3;
    transition: .3s;
}

.close:hover {
    cursor: pointer;
    opacity: 1;
}